In [105]:
import requests

In [106]:
respones = requests.get("https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=NOW-30MINUTES").json()

In [107]:
respones

{'type': 'FeatureCollection',
 'metadata': {'generated': 1739903266000,
  'url': 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=NOW-30MINUTES',
  'title': 'USGS Earthquakes',
  'status': 200,
  'api': '1.14.1',
  'count': 4},
 'features': [{'type': 'Feature',
   'properties': {'mag': 1.91,
    'place': '9 km WSW of Manton, CA',
    'time': 1739903118820,
    'updated': 1739903217110,
    'tz': None,
    'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/nc75135772',
    'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=nc75135772&format=geojson',
    'felt': None,
    'cdi': None,
    'mmi': None,
    'alert': None,
    'status': 'automatic',
    'tsunami': 0,
    'sig': 56,
    'net': 'nc',
    'code': '75135772',
    'ids': ',nc75135772,',
    'sources': ',nc,',
    'types': ',nearby-cities,origin,phase-data,',
    'nst': 13,
    'dmin': 0.1406,
    'rms': 0.17,
    'gap': 177,
    'magType': 'md',
    'type': 'earthquake',
    'title': 'M 1.9 - 9 km WSW of Manton, CA'},
   'geometry': {'type': 'Point',
    'coordinates': [-121.960670471191, 40.3853340148926, 22.0100002288818]},
   'id': 'nc75135772'},
  {'type': 'Feature',
   'properties': {'mag': 0.75,
    'place': '7 km NW of The Geysers, CA',
    'time': 1739903000620,
    'updated': 1739903096980,
    'tz': None,
    'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/nc75135767',
    'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=nc75135767&format=geojson',
    'felt': None,
    'cdi': None,
    'mmi': None,
    'alert': None,
    'status': 'automatic',
    'tsunami': 0,
    'sig': 9,
    'net': 'nc',
    'code': '75135767',
    'ids': ',nc75135767,',
    'sources': ',nc,',
    'types': ',nearby-cities,origin,phase-data,',
    'nst': 12,
    'dmin': 0.007303,
    'rms': 0.02,
    'gap': 97,
    'magType': 'md',
    'type': 'earthquake',
    'title': 'M 0.8 - 7 km NW of The Geysers, CA'},
   'geometry': {'type': 'Point',
    'coordinates': [-122.826332092285, 38.8158340454102, 2.86999988555908]},
   'id': 'nc75135767'},
  {'type': 'Feature',
   'properties': {'mag': 0.26,
    'place': '10 km WNW of Cobb, CA',
    'time': 1739902893240,
    'updated': 1739902990969,
    'tz': None,
    'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/nc75135762',
    'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=nc75135762&format=geojson',
    'felt': None,
    'cdi': None,
    'mmi': None,
    'alert': None,
    'status': 'automatic',
    'tsunami': 0,
    'sig': 1,
    'net': 'nc',
    'code': '75135762',
    'ids': ',nc75135762,',
    'sources': ',nc,',
    'types': ',nearby-cities,origin,phase-data,',
    'nst': 8,
    'dmin': 0.005247,
    'rms': 0.01,
    'gap': 124,
    'magType': 'md',
    'type': 'earthquake',
    'title': 'M 0.3 - 10 km WNW of Cobb, CA'},
   'geometry': {'type': 'Point',
    'coordinates': [-122.831832885742, 38.8429985046387, 1.10000002384186]},
   'id': 'nc75135762'},
  {'type': 'Feature',
   'properties': {'mag': 1.5,
    'place': '12 km WNW of Anchorage, Alaska',
    'time': 1739902111304,
    'updated': 1739902185741,
    'tz': None,
    'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/ak02529c3l8a',
    'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ak02529c3l8a&format=geojson',
    'felt': None,
    'cdi': None,
    'mmi': None,
    'alert': None,
    'status': 'automatic',
    'tsunami': 0,
    'sig': 35,
    'net': 'ak',
    'code': '02529c3l8a',
    'ids': ',ak02529c3l8a,',
    'sources': ',ak,',
    'types': ',origin,phase-data,',
    'nst': None,
    'dmin': None,
    'rms': 0.23,
    'gap': None,
    'magType': 'ml',
    'type': 'earthquake',
    'title': 'M 1.5 - 12 km WNW of Anchorage, Alaska'},
   'geometry': {'type': 'Point', 'coordinates': [-150.1228, 61.2578, 40.4]},
   'id': 'ak02529c3l8a'}],
 'bbox': [-150.1228,
  38.81583404541,
  1.1000000238419,
  -121.96067047119,
  61.2578,
  40.4]}

In [108]:
respones["type"]

'FeatureCollection'

In [109]:
data = {
    "mag" : [],
    "place" : [],
    'felt': [],
    'cdi': [],
    'tsunami': [],
    'sig': [],
    "nst": [],
    "dmin": [],
    "rms": [],
    "gap": [],
    "magType": [],
    "type": [],
}

In [110]:
for i in respones["features"]:
    data["mag"].append(i["properties"]["mag"])
    data["place"].append(i["properties"]["place"]),
    data['felt'].append(i["properties"]["felt"]),
    data['cdi'].append(i["properties"]["cdi"]),
    data['tsunami'].append(i["properties"]["tsunami"]),
    data['sig'].append(i["properties"]["sig"]),
    data["nst"].append(i["properties"]["nst"]),
    data["dmin"].append(i["properties"]["dmin"]),
    data["rms"].append(i["properties"]["rms"]),
    data["gap"].append(i["properties"]["gap"]),
    data["magType"].append(i["properties"]["magType"]),
    data["type"].append(i["properties"]["type"]),

In [111]:
data

{'mag': [1.91, 0.75, 0.26, 1.5],
 'place': ['9 km WSW of Manton, CA',
  '7 km NW of The Geysers, CA',
  '10 km WNW of Cobb, CA',
  '12 km WNW of Anchorage, Alaska'],
 'felt': [None, None, None, None],
 'cdi': [None, None, None, None],
 'tsunami': [0, 0, 0, 0],
 'sig': [56, 9, 1, 35],
 'nst': [13, 12, 8, None],
 'dmin': [0.1406, 0.007303, 0.005247, None],
 'rms': [0.17, 0.02, 0.01, 0.23],
 'gap': [177, 97, 124, None],
 'magType': ['md', 'md', 'md', 'ml'],
 'type': ['earthquake', 'earthquake', 'earthquake', 'earthquake']}

In [112]:
import pandas as pd

In [113]:
data_df = pd.DataFrame(data)

In [114]:
data_df

,mag,place,felt,cdi,tsunami,sig,nst,dmin,rms,gap,magType,type
0,1.91,"9 km WSW of Manton, CA",None,None,0,56,13.0,0.140600,0.17,177.0,md,earthquake
1,0.75,"7 km NW of The Geysers, CA",None,None,0,9,12.0,0.007303,0.02,97.0,md,earthquake
2,0.26,"10 km WNW of Cobb, CA",None,None,0,1,8.0,0.005247,0.01,124.0,md,earthquake
3,1.50,"12 km WNW of Anchorage, Alaska",None,None,0,35,NaN,NaN,0.23,NaN,ml,earthquake

In [115]:
data_df["felt"] = data_df["felt"].fillna(0)
data_df["cdi"] = data_df["cdi"].fillna(0)

C:\Users\dumbr\AppData\Local\Temp\ipykernel_2188\3081673487.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_df["felt"] = data_df["felt"].fillna(0)
C:\Users\dumbr\AppData\Local\Temp\ipykernel_2188\3081673487.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_df["cdi"] = data_df["cdi"].fillna(0)

In [116]:
data_df

,mag,place,felt,cdi,tsunami,sig,nst,dmin,rms,gap,magType,type
0,1.91,"9 km WSW of Manton, CA",0,0,0,56,13.0,0.140600,0.17,177.0,md,earthquake
1,0.75,"7 km NW of The Geysers, CA",0,0,0,9,12.0,0.007303,0.02,97.0,md,earthquake
2,0.26,"10 km WNW of Cobb, CA",0,0,0,1,8.0,0.005247,0.01,124.0,md,earthquake
3,1.50,"12 km WNW of Anchorage, Alaska",0,0,0,35,NaN,NaN,0.23,NaN,ml,earthquake

In [117]:
data_df = data_df.dropna()

In [118]:
data_df

,mag,place,felt,cdi,tsunami,sig,nst,dmin,rms,gap,magType,type
0,1.91,"9 km WSW of Manton, CA",0,0,0,56,13.0,0.140600,0.17,177.0,md,earthquake
1,0.75,"7 km NW of The Geysers, CA",0,0,0,9,12.0,0.007303,0.02,97.0,md,earthquake
2,0.26,"10 km WNW of Cobb, CA",0,0,0,1,8.0,0.005247,0.01,124.0,md,earthquake

In [119]:
def convert_mag(mag, mag_type):
    if mag_type in ['Mw', 'Mww', 'Mwb', 'Mwc', 'Mwr', 'Mwp']:  
        return mag  # Already in Moment Magnitude scale
    elif mag_type in ['Ml', 'Mlg', 'Mlr', 'Ml(texnet)']:  
        return 0.67 * mag + 0.87  # Convert Local Magnitude (Ml) to Mw
    elif mag_type in ['Mb', 'Mb_lg']:  
        return 1.17 * mag - 0.1  # Convert Body-Wave Magnitude (Mb) to Mw
    elif mag_type in ['Md', 'mdl']:  
        return 0.69 * mag + 2.2  # Convert Duration Magnitude (Md) to Mw
    elif mag_type in ['Mc', 'Mh', 'Ma', 'Mlv']:  
        return 0.67 * mag + 0.87  # Approximate conversion (similar to Ml)
    elif mag_type in ['Me']:  
        return 1.5 * mag - 3.0  # Convert Energy Magnitude (Me) to Mw
    elif mag_type in ['mun']:  
        return 0.67 * mag + 1.0  # Approximate conversion for 'mun'
    else:  
        return mag  # Default: keep original value if unknown


data_df["mag_converted"] = data_df.apply(lambda row : convert_mag(row["mag"],row["magType"]),axis=1
                                          )
data_df = data_df.drop("magType",axis=1)

C:\Users\dumbr\AppData\Local\Temp\ipykernel_2188\2057447219.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_df["mag_converted"] = data_df.apply(lambda row : convert_mag(row["mag"],row["magType"]),axis=1

In [120]:
data_df = data_df.drop("mag",axis=1)

In [121]:
data_df

,place,felt,cdi,tsunami,sig,nst,dmin,rms,gap,type,mag_converted
0,"9 km WSW of Manton, CA",0,0,0,56,13.0,0.140600,0.17,177.0,earthquake,1.91
1,"7 km NW of The Geysers, CA",0,0,0,9,12.0,0.007303,0.02,97.0,earthquake,0.75
2,"10 km WNW of Cobb, CA",0,0,0,1,8.0,0.005247,0.01,124.0,earthquake,0.26

In [122]:
import pandas as pd
import re

def split_place_feature(df):
    """
    Splits the 'place' column into:
    - 'distance_km': Numerical distance from the location.
    - 'direction': Cardinal direction (e.g., N, S, NE, etc.).
    - 'city': Extracted city/place name.
    - 'state': Extracted state name.
    
    Args:
        df (pd.DataFrame): DataFrame containing the 'place' column.
    
    Returns:
        pd.DataFrame: Updated DataFrame with new columns.
    """
    
    # Ensure 'place' column exists
    if 'place' not in df.columns:
        raise ValueError("Column 'place' not found in DataFrame.")

    # Extract distance (numerical)
    df['distance_km'] = df['place'].apply(lambda x: float(re.search(r'(\d+)\s*km', x).group(1)) if re.search(r'(\d+)\s*km', x) else 0)

    # Extract direction (cardinal) - Sort directions by length (descending) to match longer ones first
    directions = ['NNE', 'NNW', 'SSE', 'SSW', 'ENE', 'ESE', 'WNW', 'WSW', 'NE', 'NW', 'SE', 'SW', 'N', 'S', 'E', 'W']
    df['direction'] = df['place'].apply(lambda x: next((d for d in directions if d in x), 'Unknown'))

    # Extract location (city + state)
    df['location'] = df['place'].apply(lambda x: re.sub(r'^\d+\s*km\s*[A-Z]*\s*of\s*', '', x).strip())

    # Extract city and state separately
    df[['city', 'state']] = df['location'].str.rsplit(',', n=1, expand=True)

    # Clean 'state' column (remove leading/trailing spaces)
    df['state'] = df['state'].str.strip()

    return df.drop(columns=['location',"place","direction"])  # Drop 'location' since it's now split into 'city' and 'state'




data_df = split_place_feature(data_df)

In [123]:
data_df = data_df.reset_index(drop=True)

In [124]:
data_df

,felt,cdi,tsunami,sig,nst,dmin,rms,gap,type,mag_converted,distance_km,city,state
0,0,0,0,56,13.0,0.140600,0.17,177.0,earthquake,1.91,9.0,Manton,CA
1,0,0,0,9,12.0,0.007303,0.02,97.0,earthquake,0.75,7.0,The Geysers,CA
2,0,0,0,1,8.0,0.005247,0.01,124.0,earthquake,0.26,10.0,Cobb,CA

In [125]:
types = ['earthquake', 'explosion', 'quarry blast', 'other event',
       'sonic boom', 'ice quake', 'experimental explosion', 'rock burst',
       'chemical explosion', 'nuclear explosion', 'mine collapse',
       'rockslide', 'Rock Slide', 'accidental explosion', 'landslide',
       'quarry', 'building collapse', 'mining explosion', 'sonicboom',
       'acoustic noise', 'not reported', 'collapse', 'meteorite',
       'induced or triggered event', 'volcanic eruption', 'Ice Quake',
       'snow avalanche', 'Landslide']

def oneType(dataFrame,type):
    types = ['accidental explosion', 'chemical explosion',
       'earthquake', 'experimental explosion', 'explosion', 'ice quake',
       'landslide', 'mine collapse', 'mining explosion', 'not reported',
       'other event', 'quarry', 'quarry blast', 'rockslide', 'sonic boom',
       'volcanic eruption']
    
    for _ in type:
        if _ not in types:
            _ = 'other event'
        for i in types:
            if i == _:
                dataFrame[i] = 1
            else:
                dataFrame[i] = 0 

        return dataFrame.drop("type",axis = 1)


data_df = oneType(data_df,data_df["type"])

In [126]:
data_df

,felt,cdi,tsunami,sig,nst,dmin,rms,gap,mag_converted,distance_km,...,landslide,mine collapse,mining explosion,not reported,other event,quarry,quarry blast,rockslide,sonic boom,volcanic eruption
0,0,0,0,56,13.0,0.140600,0.17,177.0,1.91,9.0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,9,12.0,0.007303,0.02,97.0,0.75,7.0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,8.0,0.005247,0.01,124.0,0.26,10.0,...,0,0,0,0,0,0,0,0,0,0

In [127]:
spear_df = data_df

In [128]:
data_df.columns

Index(['felt', 'cdi', 'tsunami', 'sig', 'nst', 'dmin', 'rms', 'gap',
       'mag_converted', 'distance_km', 'city', 'state', 'accidental explosion',
       'chemical explosion', 'earthquake', 'experimental explosion',
       'explosion', 'ice quake', 'landslide', 'mine collapse',
       'mining explosion', 'not reported', 'other event', 'quarry',
       'quarry blast', 'rockslide', 'sonic boom', 'volcanic eruption'],
      dtype='object')

In [129]:
import json

In [130]:
with open("state.json","r") as file:
    stateFreq = json.load(file)

In [131]:
stateFreq

{'CA': 0.3223039753158401,
 'California': 0.313319591245998,
 'Nevada': 0.11025574213721276,
 'Washington': 0.033382823766759454,
 'Montana': 0.029663946627727887,
 'Utah': 0.02874164445831839,
 'Puerto Rico': 0.023056909268685324,
 'Alaska': 0.021581225797630135,
 'Hawaii': 0.018666621948985725,
 'Oklahoma': 0.015131560277284021,
 'MX': 0.014016413108816177,
 'Texas': 0.006826970953286363,
 'Oregon': 0.0066579897166532944,
 'Idaho': 0.006578013864201002,
 'Wyoming': 0.005873065422827172,
 'New Mexico': 0.004322565831735966,
 'U.S. Virgin Islands': 0.004285802738269993,
 'Indonesia': 0.002460547396012043,
 'Tennessee': 0.002327684286292913,
 'Canada': 0.002284471527306594,
 'Dominican Republic': 0.0022373889690080672,
 'Kansas': 0.0020574433009904105,
 'Missouri': 0.0017833325163757008,
 'NV': 0.0016182210790548401,
 'Arkansas': 0.001608546580774321,
 'Philippines': 0.0015466297917789984,
 'Japan': 0.0012680042413000462,
 'Papua New Guinea': 0.0010945082388027357,
 'Tonga': 0.0009474558649388442,
 'Chile': 0.0009094028383688022,
 'Colorado': 0.0006514162175549576,
 'Vanuatu': 0.0006475464182427499,
 'Russia': 0.0006327121875459538,
 'Northern Mariana Islands': 0.0005546712347497659,
 'Mexico': 0.0004927544457544432,
 'Turkey': 0.0004540564526323665,
 'China': 0.000448251753664055,
 'Argentina': 0.00043277255641522433,
 'Taiwan': 0.0004153584595102898,
 'Fiji': 0.00040116919536552833,
 'Peru': 0.0003985893291573899,
 'Arizona': 0.00038117523225245537,
 'New Zealand': 0.00037408060018007463,
 'Solomon Islands': 0.0003366725401620672,
 'Afghanistan': 0.00032441817567340956,
 'North Carolina': 0.0003140987108408558,
 'Timor Leste': 0.00029539468083185203,
 'Iran': 0.00026250138667808685,
 'Greece': 0.00024895708908536003,
 'Guam': 0.0002296080925243217,
 'New York': 0.0002238033935560102,
 'India': 0.00022251346045194096,
 'New Jersey': 0.00019477989871445267,
 'Colombia': 0.0001734960024973105,
 'American Samoa': 0.00017220606939324126,
 'South Carolina': 0.000156081905592376,
 'Tajikistan': 0.0001515671397281337,
 'Georgia': 0.00014447250765575297,
 'El Salvador': 0.0001289933104069223,
 'Guatemala': 0.00012254364488657618,
 'Nicaragua': 0.0001173839124702993,
 'Ecuador': 0.00010964431384588396,
 'UT': 0.00010512954798164167,
 'Anguilla': 0.000101259748669434,
 'Myanmar': 0.000101259748669434,
 'OK': 9.54550497011225e-05,
 'New Caledonia': 9.02953172848456e-05,
 'Alabama': 8.836041762874177e-05,
 'MT': 8.126578555636105e-05,
 'Virginia': 7.997585245229183e-05,
 'Panama': 7.86859193482226e-05,
 'Iceland': 7.675101969211877e-05,
 'WA': 7.675101969211877e-05,
 'Bolivia': 7.288122037991109e-05,
 'Ethiopia': 7.223625382787649e-05,
 'Kentucky': 6.901142106770343e-05,
 'Somalia': 6.836645451566881e-05,
 'Wallis and Futuna': 6.643155485956498e-05,
 'Costa Rica': 5.869195623514965e-05,
 'Kyrgyzstan': 5.6112090027011197e-05,
 'Italy': 5.353222381887275e-05,
 'Illinois': 5.159732416276892e-05,
 'Pakistan': 5.095235761073431e-05,
 'ID': 4.966242450666508e-05,
 'Pennsylvania': 4.8372491402595865e-05,
 'Micronesia': 4.772752485056125e-05,
 'Maine': 4.708255829852664e-05,
 'Ohio': 4.51476586424228e-05,
 'Tanzania': 4.321275898631897e-05,
 'India region': 3.998792622614591e-05,
 'Svalbard and Jan Mayen': 3.93429596741113e-05,
 'Venezuela': 3.93429596741113e-05,
 'Nepal': 3.8053026570042075e-05,
 'Saint Helena': 3.740806001800747e-05,
 'HI': 3.547316036190363e-05,
 'Australia': 2.8378528289522905e-05,
 'AK': 2.7088595185453683e-05,
 'Portugal': 2.4508728977315235e-05,
 'New Hampshire': 2.192886276917679e-05,
 'Honduras': 2.192886276917679e-05,
 'Yemen': 2.063892966510757e-05,
 'Morocco': 1.9993963113072956e-05,
 'Saint Eustatius and Saba': 1.9348996561038344e-05,
 'South Africa': 1.9348996561038344e-05,
 'OR': 1.8704030009003734e-05,
 'Connecticut': 1.8059063456969122e-05,
 'Kazakhstan': 1.8059063456969122e-05,
 'Romania': 1.741409690493451e-05,
 'Albania': 1.5479197248830674e-05,
 'Vietnam': 1.5479197248830674e-05,
 'Antigua and Barbuda': 1.5479197248830674e-05,
 'Malta': 1.4834230696796063e-05,
 'Mauritius': 1.4834230696796063e-05,
 'Eritrea': 1.4834230696796063e-05,
 'West Virginia': 1.4189264144761452e-05,
 'Guadeloupe': 1.289933104069223e-05,
 'Louisiana': 1.2254364488657618e-05,
 'Syria': 1.2254364488657618e-05,
 'Mongolia': 1.2254364488657618e-05,
 'Bosnia and Herzegovina': 1.1609397936623007e-05,
 'Azerbaijan': 1.1609397936623007e-05,
 'Samoa': 1.0964431384588396e-05,
 'Iraq': 1.0964431384588396e-05,
 'Cyprus': 1.0964431384588396e-05,
 'Mississippi': 1.0964431384588396e-05,
 'Democratic Republic of the Congo': 1.0964431384588396e-05,
 'Nebraska': 1.0964431384588396e-05,
 'Cuba': 1.0319464832553785e-05,
 'Turkmenistan': 1.0319464832553785e-05,
 'Massachusetts': 9.674498280519172e-06,
 'TN': 9.674498280519172e-06,
 'Poland': 9.029531728484561e-06,
 'Saudi Arabia': 9.029531728484561e-06,
 'WY': 9.029531728484561e-06,
 'Maryland': 9.029531728484561e-06,
 'KS': 9.029531728484561e-06,
 'Brazil': 8.38456517644995e-06,
 'Uzbekistan': 7.739598624415337e-06,
 'Uganda': 7.739598624415337e-06,
 'Djibouti': 7.739598624415337e-06,
 'Cayman Islands': 7.739598624415337e-06,
 'Algeria': 7.094632072380726e-06,
 'Federated States of Micronesia': 7.094632072380726e-06,
 'AZ': 7.094632072380726e-06,
 'Croatia': 6.449665520346115e-06,
 'Greenland': 5.804698968311503e-06,
 'Minnesota': 5.804698968311503e-06,
 'Armenia': 5.159732416276892e-06,
 'TX': 5.159732416276892e-06,
 'France': 5.159732416276892e-06,
 'Zambia': 5.159732416276892e-06,
 'Vermont': 5.159732416276892e-06,
 'Jamaica': 5.159732416276892e-06,
 'AR': 4.5147658642422804e-06,
 'Haiti': 4.5147658642422804e-06,
 'South Dakota': 4.5147658642422804e-06,
 'New Zealand region': 4.5147658642422804e-06,
 'Ecuador region': 4.5147658642422804e-06,
 'Bangladesh': 4.5147658642422804e-06,
 'MO': 3.869799312207669e-06,
 'Palau': 3.869799312207669e-06,
 'Tunisia': 3.869799312207669e-06,
 'Spain': 3.869799312207669e-06,
 'Egypt': 3.869799312207669e-06,
 'Rhode Island': 3.869799312207669e-06,
 'Zimbabwe': 3.869799312207669e-06,
 'NM': 3.869799312207669e-06,
 'Barbados': 3.869799312207669e-06,
 'Libya': 3.2248327601730576e-06,
 'Sudan': 3.2248327601730576e-06,
 'Martinique': 2.579866208138446e-06,
 'Mozambique': 2.579866208138446e-06,
 'Hungary': 2.579866208138446e-06,
 'Angola': 2.579866208138446e-06,
 'Indiana': 2.579866208138446e-06,
 'PA': 2.579866208138446e-06,
 'NC': 2.579866208138446e-06,
 'Bulgaria': 2.579866208138446e-06,
 'Gabon': 1.9348996561038343e-06,
 'USA': 1.9348996561038343e-06,
 'Oman': 1.9348996561038343e-06,
 'Trinidad and Tobago': 1.9348996561038343e-06,
 'United Kingdom': 1.9348996561038343e-06,
 'Thailand': 1.9348996561038343e-06,
 'Grenada': 1.9348996561038343e-06,
 'Kosovo': 1.9348996561038343e-06,
 'NJ': 1.9348996561038343e-06,
 'California Earthquake': 1.9348996561038343e-06,
 'Saint Kitts and Nevis': 1.9348996561038343e-06,
 'South Korea': 1.9348996561038343e-06,
 'Switzerland': 1.9348996561038343e-06,
 'Serbia': 1.9348996561038343e-06,
 'Germany': 1.9348996561038343e-06,
 'Montenegro': 1.9348996561038343e-06,
 'Malawi': 1.9348996561038343e-06,
 'Ukraine': 1.289933104069223e-06,
 'Bhutan': 1.289933104069223e-06,
 'Rwanda': 1.289933104069223e-06,
 'Lebanon': 1.289933104069223e-06,
 'Wisconsin': 1.289933104069223e-06,
 'Saint Pierre and Miquelon': 1.289933104069223e-06,
 'Madagascar': 1.289933104069223e-06,
 'Saint Lucia': 1.289933104069223e-06,
 'Norway': 1.289933104069223e-06,
 'Delaware': 1.289933104069223e-06,
 'Kenya': 1.289933104069223e-06,
 'Dominica': 1.289933104069223e-06,
 'Australia region': 1.289933104069223e-06,
 'Mayotte': 1.289933104069223e-06,
 'Texas Earthquake': 6.449665520346115e-07,
 'French Southern Territories': 6.449665520346115e-07,
 'North Korea': 6.449665520346115e-07,
 'South Sudan': 6.449665520346115e-07,
 'Maldives': 6.449665520346115e-07,
 'Japan Earthquake': 6.449665520346115e-07,
 'Slovakia': 6.449665520346115e-07,
 'Florida': 6.449665520346115e-07,
 'New Jersey Earthquake': 6.449665520346115e-07,
 'Laos': 6.449665520346115e-07,
 'KY': 6.449665520346115e-07,
 'United States': 6.449665520346115e-07,
 'Netherlands': 6.449665520346115e-07,
 'Bahamas': 6.449665520346115e-07,
 'North Macedonia': 6.449665520346115e-07,
 'Namibia': 6.449665520346115e-07,
 'NY': 6.449665520346115e-07,
 'Kuwait': 6.449665520346115e-07,
 'Michigan': 6.449665520346115e-07,
 'Czechia': 6.449665520346115e-07,
 'Botswana': 6.449665520346115e-07,
 'Kahramanmaras earthquake sequence': 6.449665520346115e-07,
 'Austria': 6.449665520346115e-07,
 'Congo-Uganda': 6.449665520346115e-07,
 'Saint Vincent and the Grenadines': 6.449665520346115e-07,
 'Malaysia': 6.449665520346115e-07,
 'Bermuda': 6.449665520346115e-07,
 'Nevada Earthquake': 6.449665520346115e-07}

In [132]:
data_df["state"] = data_df["state"].map(stateFreq)

In [133]:
data_df["state"]

0    0.322304
1    0.322304
2    0.322304
Name: state, dtype: float64

In [134]:
import pandas as pd

In [135]:
import json

In [136]:
with open("city.json","r") as file:
    cityFreq = json.load(file)

In [137]:
data_df["city"] = data_df["city"].map(cityFreq)

In [138]:
data_df["city"]

0    0.000085
1    0.033620
2    0.128426
Name: city, dtype: float64

In [139]:
data_df.columns

Index(['felt', 'cdi', 'tsunami', 'sig', 'nst', 'dmin', 'rms', 'gap',
       'mag_converted', 'distance_km', 'city', 'state', 'accidental explosion',
       'chemical explosion', 'earthquake', 'experimental explosion',
       'explosion', 'ice quake', 'landslide', 'mine collapse',
       'mining explosion', 'not reported', 'other event', 'quarry',
       'quarry blast', 'rockslide', 'sonic boom', 'volcanic eruption'],
      dtype='object')

In [140]:
import pickle

In [141]:
scaler = pickle.load(open("scaler.pkl","rb"))

In [142]:
df_to_scale = data_df[['felt', 'cdi', 'tsunami', 'sig', 'nst', 'dmin', 'rms', 'gap',
       'accidental explosion', 'chemical explosion', 'earthquake',
       'experimental explosion', 'explosion', 'ice quake', 'landslide',
       'mine collapse', 'mining explosion', 'not reported', 'other event',
       'quarry', 'quarry blast', 'rockslide', 'sonic boom',
       'volcanic eruption', 'distance_km', 'city', 'state']]

In [143]:
df_to_scale.columns

Index(['felt', 'cdi', 'tsunami', 'sig', 'nst', 'dmin', 'rms', 'gap',
       'accidental explosion', 'chemical explosion', 'earthquake',
       'experimental explosion', 'explosion', 'ice quake', 'landslide',
       'mine collapse', 'mining explosion', 'not reported', 'other event',
       'quarry', 'quarry blast', 'rockslide', 'sonic boom',
       'volcanic eruption', 'distance_km', 'city', 'state'],
      dtype='object')

In [144]:
scaled_df_data = scaler.transform(df_to_scale)

In [145]:
scaled_df = pd.DataFrame(scaled_df_data,columns=df_to_scale.columns)

In [146]:
scaled_df

,felt,cdi,tsunami,sig,nst,dmin,rms,gap,accidental explosion,chemical explosion,...,not reported,other event,quarry,quarry blast,rockslide,sonic boom,volcanic eruption,distance_km,city,state
0,-0.010301,-0.155667,-0.015136,0.405201,-0.295513,-0.012510,0.262423,0.773690,-0.000798,-0.010967,...,-0.002256,-0.008847,-0.000798,-0.127081,-0.001128,-0.004296,-0.003988,-0.351838,-0.566163,0.775662
1,-0.010301,-0.155667,-0.015136,-0.448101,-0.357451,-0.200319,-0.703683,-0.403014,-0.000798,-0.010967,...,-0.002256,-0.008847,-0.000798,-0.127081,-0.001128,-0.004296,-0.003988,-0.435876,0.245273,0.775662
2,-0.010301,-0.155667,-0.015136,-0.593344,-0.605205,-0.203216,-0.768090,-0.005877,-0.000798,-0.010967,...,-0.002256,-0.008847,-0.000798,-0.127081,-0.001128,-0.004296,-0.003988,-0.309819,2.539263,0.775662

In [147]:
mag = data_df["mag_converted"]

In [148]:
mag

0    1.91
1    0.75
2    0.26
Name: mag_converted, dtype: float64

In [149]:
final_data = pd.concat([scaled_df,mag],axis=1)

In [ ]:

final_data

NameError: name 'final_data' is not defined

In [151]:
model = pickle.load(open("kmeans.pkl","rb"))

In [152]:
predictions = model.predict(final_data)

In [153]:
predictions = pd.DataFrame(predictions,columns=["Predictions"])

In [154]:
cluster_mapping = {
    0: "Low Risk",
    2: "High Risk",
    1: "Medium Risk"
}

In [155]:
predictions = predictions["Predictions"].map(cluster_mapping)

In [156]:
predictions

0    Low Risk
1    Low Risk
2    Low Risk
Name: Predictions, dtype: object